# ==========================================
# Archivos de Python (Caché y Compilados)
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Entornos Virtuales (Si usas alguno en el futuro)
# ==========================================
venv/
.env/
env/

# ==========================================
# Archivos del Sistema Operativo
# ==========================================
Thumbs.db
Desktop.ini
.DS_Store

# ==========================================
# Configuraciones del Editor (VS Code)
# ==========================================
.vscode/

# ==========================================
# Archivos Específicos de Tu Proyecto
# ==========================================
# Ignorar las carpetas donde guardes tus imágenes convertidas
converted/
salida/
output/

# Ignorar tus configuraciones personales
presets.json

# Ignorar imágenes de prueba temporales que dejes sueltas en la carpeta
*.jpg
*.jpeg
*.png
*.avif
*.heic
*.webp
*.gif